* {
  padding: 0;
  margin: 0;
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #dddddd;
  font-family: 'Muli', sans-serif;
}

header {
  height: 3rem;
  position: sticky;
  background: rgb(129, 16, 16);
}

nav {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}

nav ul {
  width: 50%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}